b {
    font-weight: bold;
  }
  i {
    font-style: italic;
  }

  
  
  body {
    font: 12px/1.4 "Trebuchet MS", Arial, sans-serif;
    background-color: #bc9882;
    }

  A {
    color: rgb(45, 83, 153);
    }
  H1, H2, H3, H4 {
    margin-bottom: 1rem;
    font-family: Georgia, serif;
    line-height: 1.4;
    }
  H1 {
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #CCC;
    text-align: center;
    text-shadow: 1px 1px 0 white,
                 2px 2px 0 #555;
    font-size: 4em;  
    font-style: italic;
    
    }
  
  H2 {
    padding-bottom: .3rem;
    border-bottom: 1px solid #333;
    font-size: 2.8em;
    color: #333;
    }
  H3 {
    text-shadow: 1px 1px 0 white,
                 2px 2px 0 #CCC;
    font-size: 2.5em;
    font-style: italic;
    color: #1F2610;
    }
  H4 {
    font-size: 1.6em;
    font-style: italic;
    color: #999;
    }
  
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  dl{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }