*
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body {
    color: #FFF;
    background-color: #e6b8a2;
    background-image: radial-gradient(circle, #deab90 0%, #cd9777 70%, #c38e70 100%);
  }

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #37423d;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #432818;
}

fieldset {
    color: #6d401f;
}
